body{
    background-color: #211a2a;
}

#blank-sp{
    display: inline-block;
}

.direct-links{
    display: inline-block;
}

.direct-links a{
    color: #eee;
    text-decoration: none;
    padding-left: 1em;
    font: 0.8em Helvetica;
}

.special-icons{
    display: inline-block;
}